[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "htrSPRanalysis"]
	path = htrSPRanalysis
	url = https://github.com/cran/htrSPRanalysis
